@import "../../styles/variables";

.Register {
    margin: 0 auto;
    max-width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > p {
        text-align: center;
        color: gray;
        font-size: 13px;
        margin: 4px 0 8px 0;
    }
    & > h1 {
        text-align: center;
        margin: 0;
    }
    form {
        display: flex;
        flex-direction: column;

        & > * {
            margin-top: 12px;
        }
    }

    .already-have-account {
        text-align: center;
        color: gray;
        margin-top: 8px;
        a {
            font-weight: 600;
            color: $bg-dark;
        }
    }

    .notif-register {
        background-color: $bg-succes;
        color: white;
        text-align: center;
        height: 36px;
        border-radius: 4px;
        font-size: 12px;
        line-height: 36px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        a {
            color: inherit;
            font-weight: 500;
        }
    }
}
