@import "../../styles/variables";
.ListCreatedTodo {
    position: relative;
    & > p {
        font-size: 18px;
        font-weight: 600;
        margin: 0px 0 16px 0;
    }

    .lc-wrapper {
        max-height: 400px;
        overflow: auto;
    }

    .card-created-todo {
        margin-bottom: 8px;
        border-radius: 4px;
        border: 1px solid $border-color;
        padding: 8px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        & > div > p {
            margin: 0 0 2px 0;
            word-break: break-all;
            &.title {
                font-weight: 600;
                display: flex;
                align-items: center;
                & > span {
                    margin-left: 16px;
                    display: flex;
                    font-weight: 400;
                    border-radius: 2px;
                    font-size: 12px;
                    color: white;
                    padding: 0 16px;
                    height: 20px;
                    text-align: end;
                    justify-content: center;
                    align-items: center;
                    &.DONE {
                        background-color: green;
                    }
                    &.INPROGRESS {
                        background-color: $bg-blue;
                    }
                    &.TODO {
                        background-color: red;
                    }
                }
            }

            &.description {
                color: gray;
                font-size: 13px;
            }

            &.assigned {
                font-size: 12px;
                span {
                    font-weight: 600;
                }
            }
        }
        & > button {
            width: 30px;
            height: 30px;
            min-width: 30px;
            min-height: 30px;
            border-radius: 100%;
            background-color: red;
            margin-left: 12px;
            border: none;
            color: white;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            & > svg {
                height: 20px;
                width: 20px;
            }
        }
    }
}
