@import "../../styles/variables";
.Dashboard {
    height: 100vh;
    .body-wrapper {
        height: calc(100% - 70px);
        display: flex;
        padding-top: 60px;
        gap: 16px;
    }

    .add-todo-wrapper {
        padding: 0 16px;
        width: 300px;
        min-width: 300px;
        box-sizing: border-box;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }

    .todo-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        h1 {
            margin: 0 0 16px 0;
            font-size: 24px;
            font-weight: 600;
        }
    }

    .todo-section {
        display: flex;
        flex-grow: 1;
        gap: 8px;
        & > div {
            flex-grow: 1;
            flex-basis: 0;
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            & > span {
                height: 40px;
                line-height: 40px;
                box-sizing: border-box;
                padding: 0 8px;
                font-weight: 500;
                display: block;
                background-color: $bg-dark-green;
                color: white;
                border-radius: 8px 8px 0 0;
            }
        }
    }

    .todo-card-wrapper {
        & > span {
            text-transform: uppercase;
            position: relative;
            & > div {
                position: absolute;
                top: 8px;
                right: 8px;
                width: 24px;
                height: 24px;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                &.box-inprogress {
                    background-color: $bg-blue;
                }

                &.box-todo {
                    background-color: red;
                }

                &.box-done {
                    background-color: green;
                }
            }
        }
        & > div {
            padding: 16px 8px;
        }
    }
}
