@import "../../styles/variables";

.Login {
    margin: 0 auto;
    max-width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > p {
        text-align: center;
        color: gray;
        font-size: 13px;
        margin: 4px 0 8px 0;
    }
    & > h1 {
        text-align: center;
        margin: 0;
    }
    form {
        display: flex;
        flex-direction: column;

        & > * {
            margin-top: 12px;
        }
    }

    .incorrect-info {
        background-color: red;
        color: white;
        text-align: center;
        height: 36px;
        border-radius: 4px;
        font-size: 12px;
        line-height: 36px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-bottom: 0;
    }

    .create-account {
        display: flex;
        flex-direction: column;
        & > span {
            color: gray;
            font-size: 13px;
            margin: 14px 0;
            text-align: center;
            position: relative;
            &::after,
            &::before {
                content: "";
                width: calc(50% - 40px);
                height: 1px;
                background-color: $border-color;
                position: absolute;
                top: 9px;
            }
            &::after {
                left: 16px;
            }
            &::before {
                right: 16px;
            }
        }
        & > a {
            height: 36px;
            border-radius: 4px;
            background-color: #2d2daf;
            color: white;
            line-height: 36px;
            text-align: center;
            text-decoration: none;
            font-size: 13.333px;
        }
    }
}
