@import "../../styles/variables";

.Textarea {
    display: flex;
    flex-direction: column-reverse;
    textarea {
        width: 100%;
        border-radius: 4px;
        border: 1px solid $border-color;
        padding: 2px 8px;
        box-sizing: border-box;
        &:focus {
            outline: none;
            border-color: $input-border-focus;
        }
    }

    .error-input {
        color: red;
        font-size: 11px;
        margin-top: 4px;
        &+textarea{
            border-color: red;
        }
    }
}
